.head {
  padding: 5px;
}
.siteName {
  text-align: center;
  font-family: "Garamond";
  color: darkslategrey;
}
.txt {
  text-align: center;
  font-family: "Garamond";
  color: black;
}

.categ {
  min-width: 200px;
  min-height: 100px;
  padding: 10px;
  margin: 20px;
  margin-left: 55px;
  display: inline-flex;
}
