.head {
  padding: 5px;
}
.siteName {
  text-align: center;
  font-family: "Garamond";
  color: darkslategrey;
}
.txt {
  text-align: center;
  font-family: "Garamond";
  color: black;
}
.filter {
  font-weight: 500;
}

.categ {
  min-width: 200px;
  min-height: 100px;
  padding: 10px;
  margin: 20px;
  margin-left: 55px;
  display: inline-flex;
}

.bigProd {
  min-width: 950px;
  min-height: 500px;
  padding: 10px;
  margin: 20px;
  margin-left: 50px;
}
.smallProd {
  min-width: 200px;
  min-height: 200px;
  padding: 10px;
  margin: 20px;
  display: inline-flex;
}
.filters {
  min-width: 400px;
  min-height: 500px;
  padding: 10px;
  margin: 20px;
}
